* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: slategray;
}

:root {
    --primary-color: skyblue;
    --secondary-color: gray;
}

header {
    background-color: slategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 25px;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 30px 25px 25px 25px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: solid var(--primary-color) 3px;
}

.hero {
    background-image: url("../images/portfolio-background-header.jpg");
    /* image source url https://jessicaroots.com/project/black-friday/portfolio-background-header/ */
    height: 300px;
    width: 100%;
    background-position: 50%;
    justify-content: center;
}

.hero .box1 {
    position: relative;
    background-color: var(--secondary-color);
    text-align: right;
}

.hero .subtitle {
    position: absolute;
    top: 250px;
    right: 20px;
    color: var(--primary-color)
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sections h2, .contact h2 {
    color: var(--primary-color);
    width: 300px;
    margin-bottom: 5px;
    padding: 25px 30px ;
    border-right: solid var(--primary-color) 3px;
}

.sections .about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
}

.sections .about .descr {
    flex-direction: column;
    display: flex;
    row-gap: 10px;
    flex: 1;
    align-items: center;
}

.sections .work {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.sections .work .four-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.sections .work .four-boxes .images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}

.sections .work .four-boxes #runbuddy {
    height:500px;
    width: 1000px;
}

.sections .work .four-boxes .images img {
    height: 400px;
    width: 400px;
    border: solid var(--primary-color) 4px;
}

.sections .work .four-boxes .images a {
    border: solid var(--primary-color) 7px;
    text-decoration: none;
    width: 125px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.contact ul li {
    padding: 30px 25px 25px 25px;
}

.contact ul li a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: solid var(--primary-color) 3px ;
}